
{% extends 'base.html'%}

{% block content %}

<div style="background-color:aliceblue; height:700px;">
<div class="container" >
<div style=" width:800px; height:500px; position:relative;float:right;right:120px;" class="jumbotron">

<div class="row">

  <div style="color:white; font-size
  :28px;" class="col-md-4">
    <h3 style="color:ghostwhite; font-size:25px;"> {{user.username| capitalize}} </h3>

    {% if user.bio %}
      <p style="color:ghostwhite; font-size:25px;"> {{user.bio}}</p>

    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}

    {% if user == current_user %}
      <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
    {% endif %}

  </div>
  <div class="col-md-4">
    {% if user.profile_pic_path %}

    <img style="border-radius:50%;width:100px;position:relative; left:170px;top:-15px;" src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">

    {%else%}
    <p>No profile picture</p>

    {% endif %}
    <form style=" font-size:20px; position:relative; left:130px;"  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">

      <input type="file"  name="photo" class="form-control" required>
      <input style="color:green;
      " type="submit">

    </form>
  </div>


</div>
</div>
{% endblock %}